.cartBox {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  border: solid 3px #367042;
  border-radius: 10px;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #ffffff;
}

.cartImage {
  width: 50px;
  height: auto;
}

thead th {
  padding: 4px 0;
}

tbody td {
  padding: 0.5rem 0.9rem;
}
.cartCheckout {
  display: block;
  margin-top: 20px;
}

table button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cartCheckout {
  background-color: #f58d72;
  padding: 0.456rem 1.5rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  border: solid;
  float: right;
  cursor: pointer;
  margin-top: 23px;
}

.deleteBtn {
  color: #f47657;
  font-size: 13px;
  font-weight: bold;
  border: solid 2px #f47657;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #f4cbc182;
}

.increaseBtn,
.decreaseBtn {
  display: inline-flex;
  width: 20px;
  height: 20px;
  font-size: 16px;
  color: #fff4ee;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid #fff4ee;
  border-radius: 50%;
  background-color: #f58d72;
}

th {
  font-family: "sofia";
  color: #f58d72;
  font-size: 20px;
  padding: 0.5rem;
}

td {
  font-family: "unica one";
  color: #6b5049;
  font-size: 20px;
}

.StripeCheckout {
  border-radius: 0!important;
  background: transparent!important;
  box-shadow: none!important;
  float: right;
  padding: 0!important;
}

.StripeCheckout > span {
  cursor: pointer;
  background: #f58d72;
  background-image: none!important;
  text-shadow: none!important;
  box-shadow: none!important;
  border-radius: 0!important;
  font-size: inherit!important;
  letter-spacing: 1px;
  padding: 0 20px!important;
}