body {
  font-family: "unica one", sans-serif;
  color: #6b5049;
  background: #fff4ee;
}
p {
  font-size: 1.2em;
  font-family: "Crafty Girls";
  color: #367042;
}
.homepic {
  width: 50%;
  height: 50%;
}
.aboutUs {
  width: 50%;
  height: 50%;
}
.signUp {
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin: 0 auto;
}
.headerpic {
  background-size: cover;
  max-width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: "sofia";
  color: #f58d72;
}
h3 {
  font-family: "beth ellen";
  color: #6b5049;
  font-size: 30px;
  text-align: center;
}
h1 {
  font-family: "beth ellen";
  color: #6b5049;
  font-size: 30px;
  text-align: center;
}
p {
  font-family: "unica one";
  color: #f58d72;
  font-size: 20px;
  align-self: auto;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  background-size: cover;
  object-fit: cover;
}

.photoex {
  width: 20vw;
  height: 20vw;
  margin-bottom: 15px;
}

li {
  list-style-type: none;
}

.product-title {
  display: block;
  font-size: 20px;
}

.column1 {
  float: left;
  width: 50%;
}

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

.borderinfo {
  /* display: flex;
  flex-direction: column; */
  margin: 0 auto;
  text-align: center;
  border: solid 3px #367042;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 5px;
  width:80vw
}
.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 3px #367042;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 5px;
  flex-wrap: wrap;
}
.cakeContainer {
  display: flex;
  padding: 35px;
  margin: 0 auto 20px;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.cakeBox {
  flex-direction: column;
}
.cakeImage {
  width: 40vw;
  height: 40vw;
  margin-bottom: 15px;
}
.cake-details {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  width: 70%
}
.cake-details > img {
  width: 80%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
.cake-add-to-cart {
  width: 50%;
  justify-content: center;
  align-items: center;
}
.custom-cupcake {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  border: solid 3px #367042;
  border-radius: 10px;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #ffffff;
}
.custom-cake {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  border: solid 3px #367042;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #ffffff;
}
.orders {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  border: solid 3px #367042;
  border-radius: 10px;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #ffffff;
  width:60%
}

h2 {
  font-family: "unica one";
  color: #f58d72;
  font-size: 20px;
  /* float: left; */
}

ul {
  list-style-type: symbols(#f4cbc182);
  font-family: "unica one"
}

input {
  font-family: "unica one";
  color: #f58d72;
  font-size: 20px;
}

.input1 {
  font-family: "unica one";
  color: #f58d72;
  font-size: 20px;
}
select {
  font-family: "unica one";
  color: #f58d72;
  font-size: 20px;
}
.select1 {
  font-family: "unica one";
  color: #f58d72;
  font-size: 20px;
}
.navbar {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

small {
  font-family: "unica one";
  text-align: right;
}

@media (min-width: 767px) {
  .cakeImage {
    width: 20vw;
    height: 20vw;
    margin-bottom: 15px;
  }

  .cake-details {
    flex-direction: row;
    justify-content: space-around;
  }

  .cake-details > img {
    width: 40%;
  }

  .cake-add-to-cart {
    width: 40%;
    justify-content: center;
    align-items: center;
  }
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: white;
  padding: .75rem;
  border-radius: .25 rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 300ms ease-in-out transform 300ms ease-in-out
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  border:1px solid;
  border-radius: 25px;
}

.link {
  border:none;
  background:none;
  text-decoration: none;
  font-size: 16px;
  font-family: "sofia";
  color: #f58d72;
}

.productImage{
  width:80%
}

.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("./images/cakeshop.jpeg");
  background-size: cover;
  background-position:center
}

.landingnavbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40%;
  margin: 20px 0 0px 20px;
}

.landingnavbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.landingnavbar ul li a{
  font-size: 30px;
  text-decoration: none;
  color: #f58d72;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
}

.landingnavbar ul li a:hover{
  color:white
}

.landingnavbar ul li::after{
  content: '';
  width:0%;
  height:3px;
  background:white;
  display:block;
  margin:auto;
  transition: 0.5s;
}

.landingnavbar ul li:hover::after{
  width:100%;
}

.content{
  width: 100%;
  position: absolute;
  top: 30%;
  color:pink
}

.content h1{
  font-size: 70px;
  text-align: center;
  color:#f58d72;
  font-family: 'Amatic SC', cursive;
}

.content p {
  font-size: 40px;
  font-weight: 100;
  text-align:center;
  font-family: 'Amatic SC', cursive;
  font-style: italic
}

.shoplinkscontainer{
  text-align: center
}

.shoplinks {
  font-size: 35px;
  display:inline-block;
  padding: 10px;
  margin: 45px;
  border: 1px solid pink;
  font-family: 'Amatic SC', cursive;
}

.shoplinks:hover{
  border: 1px solid white;
  color: white;
  transition: 0.3s ease
}

.welcomebanner{
  height:750px;
}

.homepic{
  height:600px;
  max-height: auto;
  max-width: 50%;
  object-fit: contain;
}

.aboutUs{
  height:600px;
  max-height: auto;
  max-width: 50%;
  object-fit: contain;
}

.ordersul{
  width:80%;
  margin: 0 auto;
  padding-top:25px
}

.pagination {
  display: flex;
  justify-content: center;
}
